/* COLORS */

$primary-dark: #006d77;
$primary-light: #83c5be;
$secondary-dark: #e29578;
$secondary-light: #ffddd2;
$gray-05: #3b4244;
$gray-04: #7c8d93;
$gray-03: #b5c5ca;
$gray-02: #dee8eb;
$gray-01: #edf6f9;
$red: #eb5757;
$green: #27ae60;
$blue: #2f80ed;
$white: #ffffff;
