<div class="container-principal">
    <div class="div-superior">
        <h3>{{' '}}</h3>
        <span><i class="material-icons" (click)="fecharModal()">close</i></span>
    </div>

    <div class="div-confirma-exclusao" *ngIf="!exclusaoSucesso">
        <img src="../../../../assets/atencao.png" class="image">
        <h3>Deseja realmente excluir esse membro?</h3>

        <div class="controle-botao">
            <app-primary-button texto="Confirmar e excluir o membro" (click)="excluirMembro()"></app-primary-button>
        </div>

        <div class="controle-botao">
            <app-secondary-dark-button texto="Cancelar" (click)="fecharModal()"></app-secondary-dark-button>
        </div>
    </div>

    <div class="div-mensagem-sucesso" *ngIf="exclusaoSucesso">
        <img src="../../../../assets/sucesso.png" alt="">
        <h3>Membro excluído com sucesso!</h3>
        <app-primary-button texto="Finalizar" (click)="fecharModal()"></app-primary-button>
    </div>

</div>
