<div class="container-principal">
    <div class="div-superior">
        <h3>{{' '}}</h3>
        <!-- <button mat-raised-button> -->
            <mat-icon (click)="fecharModal()">{{'close'}}</mat-icon>
        <!-- </button> -->
    </div>
    <div class="div-confirma-exclusao" *ngIf="!exclusaoSucesso">
        <img src="../../../../assets/atencao.png" alt="">
        <h3>Deseja realmente excluir esse membro?</h3>
        <app-primary-button texto="Confirmar e excluir o membro" (click)="excluirMembro()">

        </app-primary-button>
        <app-primary-button texto="Cancelar" (click)="fecharModal()">

        </app-primary-button>
    </div>
    <div class="div-mensagem-sucesso" *ngIf="exclusaoSucesso">
        <img src="../../../../assets/sucesso.png" alt="">
        <h3>Membro excluído com sucesso!</h3>
        <app-primary-button texto="Finalizar" (click)="fecharModal()">

        </app-primary-button>
    </div>
</div>
