<mat-card class="mat-card-principal mat-elevation-z1">
    <main class="container">
        <section class="div-checkbox-seleciona-atividade" *ngIf="!modoReadOnly">
            <mat-checkbox color="primary"
                [(ngModel)]="checkboxSelecionado"
                (ngModelChange)="atualizarCheckBox()">
            </mat-checkbox>
        </section>

        <section class="descricao-atividade">
            <h4>Descrição da atividade:</h4>
            <p>{{descricao_atividade}}</p>
        </section>

        <section class="valor-desconto">
            <span class="titulo-desconto">Valor:</span>
            <span class="valor">R$ {{itemLista.valor_desconto}}</span>
        </section>

        <section class="botao-status" *ngIf="botaoMarcarFaltaVisivel && modoReadOnly">
            <app-botao-status-falta
                [atividadeEmFalta]="atividadeEmFalta"
                (botaoStatusClicado)="atualizarStatus($event)">
            </app-botao-status-falta>
        </section>

    </main>
</mat-card>
