<form #membroForm="ngForm">
    <input type="text" [ngModel]="dadosMembro.id" name="id" hidden>

    <app-input-arquivo-imagem ngDefaultControl ngModel
            [arquivoImagemInput]="arquivoImagem"
            name="avatar"
            [atualizarArquivoImagem]="atualizarArquivoImagem">
    </app-input-arquivo-imagem>

    <div class="controle-input">
            <app-input-nome ngDefaultControl [ngModel]="dadosMembro.name"
                    [nomeInput]="dadosMembro.name"
                    name="name">
            </app-input-nome>
    </div>

    <div class="controle-input">
            <app-input-nascimento ngDefaultControl [ngModel]="dadosMembro.birthdate"
                    [nascimentoInput]="dadosMembro.birthdate"
                    name="birthdate">
            </app-input-nascimento>
    </div>

    <div class="controle-input">
            <app-input-valor-mesada ngDefaultControl [ngModel]="dadosMembro.allowance"
                    [valorMesadaInput]="dadosMembro.allowance"
                    name="allowance">
            </app-input-valor-mesada>
    </div>

        <app-primary-button [texto]="dadosMembro.id ? 'Salvar edição' : 'Cadastrar membro'" (click)="salvarMembro(membroForm)">
                
        </app-primary-button>

        <div class="controle-botao">
                <app-secondary-dark-button texto="Cancelar" (click)="cancelarFormClick()">
                </app-secondary-dark-button>
        </div>
</form>

