@import "src/app/@theme/styles/modal-mensagem.scss";
@import "src/app/@theme/styles/topo-modal.scss";
@import "src/app/@theme/styles/modal-container.scss";

.container-principal {
    @include container();
}

.div-superior {
    @include topo-modal();
}

.div-form {
    width: 300px;
    height: calc(100vh - 80px - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-mensagem-sucesso {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;

    max-width: 300px;
}

.div-mensagem-sucesso {
    max-width: 300px;
    margin: auto;
    @include message();
}

p {
    margin-top: 0;
    font-size: 16px;
    color: #3b4244;
}

::ng-deep .mat-bottom-sheet-container-large {
    position: absolute;
    top: 0;
    left: 0;
}

::ng-deep .mat-bottom-sheet-container {
    min-height: 100vh;
}
