<div class="container-principal">
    <div class="div-superior">
        <h3>{{!cadastroSucesso ? 'Cadastrar nova atividade': ' '}}</h3>
        <span><i class="material-icons" (click)="fecharModal()">close</i></span> 
    </div>
    <div class="div-form" *ngIf="!cadastroSucesso">
        <p>Insira os dados abaixo para cadastrar uma nova atividade ao RIOTT</p>
        <div>
            <app-form-atividade [cancelarFormClick]="fecharModal"
                [salvarAtividadeClick]="salvarAtividade"
                [dadosAtividade]="dadosAtividade"></app-form-atividade>
        </div>
    </div>
    <div class="div-mensagem-sucesso" *ngIf="cadastroSucesso">
        <img src="../../../../assets/sucesso.png" alt="">
        <h3>Atividade adicionada com sucesso!</h3>
        <app-primary-button texto="Finalizar" (click)="fecharModal()"></app-primary-button>
    </div>
</div>
