.div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-card-principal {
    border: 1px solid #83c5be;
    box-sizing: border-box;
    box-shadow: 7px 7px 14px rgba(181, 197, 202, 0.5), 0px -10px 50px 20px #fff;
    border-radius: 4px;
    width: 95vw;
    margin: 5px;
}

.descricao-atividade {
    display: flex;
    align-items: center;

    padding-left: 24px;

    p {
        color: #7c8d93;
        margin: 0;
        padding-right: 5px;
        font-size: 16px;
    }

    span {
        color: #3b4244;
        font-weight: 700;
        font-size: 20px;
    }
}

.info-descricao {
    display: flex;
    align-items: center;
}

.info-membro {
    display: flex;
    align-items: center;
    padding-right: 24px;
    border-right: 1px solid #dee8eb;

    img {
        width: 50px;
        height: 50px;

        margin-right: 15px;
    }
}

.nome-membro {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0;
        color: #7c8d93;
        font-size: 16px;
    }

    p {
        color: #3b4244;
        font-size: 16px;
        font-weight: 700;
    }
}
