<mat-card class="mat-card-principal" >
    <div class="div-container">

        <div class="info-descricao">
            <div class="info-membro">
                <img mat-card-avatar [src]="'../../../../assets/' + membroSelecionado.imagem_avatar.url">
                <div class="nome-membro">
                    <h3>Membro:</h3>
                    <p>{{ membroSelecionado.nome }}</p>
                </div>
            </div>
            <div class="descricao-atividade">
                <p>Total de atividades na lista: </p>
                <span >{{ total_atividades_lista }}</span>
            </div>
        </div>

        <div class="botao-status">
            <app-primary-button texto="{{modoEdicao ? 'Salvar lista' : 'Criar lista'}}" (click)="acaoBotaoClick()"></app-primary-button>
        </div>
    </div>
</mat-card>
