.mat-card-principal {
    border: 1px solid #dee8eb;
    box-sizing: border-box;

    border-radius: 4px;

    margin-bottom: 10px;
    padding: 15px 0px;
}

.bordas-card {
    border: 1px solid #dee8eb !important;
    border-radius: 4px !important;
}

.div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-informacoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: #7c8d93;
        font-size: 14px;
        font-weight: 400;
    }

    p {
        color: #3b4244;
        font-size: 16px;
    }
}

.div-informacoes div {
    margin: 0 15px;
}
