<mat-card [ngClass]="somenteLeitura ? 'mat-card-principal mat-elevation-z0' : 'mat-card-principal bordas-card'" >
    <div class="div-container">
        <div class="div-informacoes">
            <div *ngIf="!somenteLeitura">
                <h2>Nome da lista:</h2>
                <p>{{ _lista.nome_lista }}</p>
            </div>
            <div>
                <h2>Número de faltas:</h2>
                <p>{{ numeroFaltas }}</p>
            </div>
            <div>
                <h2>Data de início:</h2>
                <p>{{ '_lista.data_inicio'}}</p>
            </div>
            <div>
                <h2>Data de finalização:</h2>
                <p>{{ '_lista.data_finalizacao'}}</p>
            </div>
            <div *ngIf="!somenteLeitura">
                <app-primary-button texto="Ver detalhes" (click)="acaoDetalhesClick(_lista)"></app-primary-button>
            </div>
        </div>
    </div>
</mat-card>
