@mixin content-card() {
    h2 {
        color: #7c8d93;
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
}

.mat-card-principal {
    border: 1px solid #dee8eb;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 15px;
}

.div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-descricao-atividade {
    margin-right: 20px;
    @include content-card();
}

.div-status-atividade {
    @include content-card();
}

.div-botao-status {
    margin-left: 20px;
}

.example-right-align {
    text-align: left;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

mat-form-field {
    width: 180px;
}

.estilo-atividade-faltou {
    color: #e29578;
}

.estilo-atividade-concluida {
    color: #006d77;
}
