<div class="container-principal">
    <div class="div-superior">
        <h3>Cadastrar novo membro</h3>
        <!-- <button mat-raised-button> -->
            <mat-icon (click)="fecharModal()">{{'close'}}</mat-icon>
        <!-- </button> -->
    </div>
    <div class="div-form">
        <p>Insira os dados abaixo para cadastrar um novo membro ao RIOTT</p>
        <div>
            <app-form-membro [cancelarFormClick]="fecharModal"
                [salvarMembroClick]="salvarMembro"
                [dadosMembro]="dadosMembro"></app-form-membro>
        </div>
    </div>
</div>
