<div class="container-principal">
    <div class="div-superior">
        <h3>{{!cadastroSucesso ? 'Cadastrar novo membro': ' '}}</h3>
        <span><i class="material-icons" (click)="fecharModal()">close</i></span>        
    </div>
    <div class="div-form">
        <p>Insira os dados abaixo para cadastrar um novo membro ao RIOTT</p>
        <div>
            <app-form-membro [cancelarFormClick]="fecharModal"
                [salvarMembroClick]="salvarMembro"
                [dadosMembro]="dadosMembro"></app-form-membro>
        </div>
    </div>
</div>
