.container-principal {
    width: 97%;
    box-sizing: border-box;
}

.div-superior {
    font-size: 1.5rem;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0px 20px;

    h3 {
        margin: 0;
        font-size: 24px;
        color: #3b4244;
    }
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;

    max-width: 300px;
}

i {
    font-size: 35px;
    color: #3b4244;
    cursor: pointer;
}

.div-mensagem-sucesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 0;
    font-size: 16px;
    color: #3b4244;
}

::ng-deep .mat-bottom-sheet-container-large {
    position: absolute;
    top: 0;
    left: 0;
}

::ng-deep .mat-bottom-sheet-container {
    min-height: 100vh;
}
