@import "~@angular/material/theming";

@mixin padrao_ng-deep {
    margin: 0;
    font-size: 14px;
}

mat-card {
    @include mat-elevation(0);
}

/* ESTILO CARD PADRÃO */

.mat-card-principal {
    border: 1px solid #dee8eb;
    box-sizing: border-box;
    border-radius: 4px;

    cursor: pointer;

    width: 100%;

    margin-bottom: 16px;
    padding: 0;

    overflow: hidden;
}

.div-container {
    display: flex;
    align-items: center;

    padding: 7px 16px;
}

.div-informacoes {
    width: 100%;
}

/* IMAGEM MEMBRO */

img {
    width: 56px;
    height: 56px;

    margin-right: 16px;
}

/* TEXTOS */

.card-texto-cinza {
    @include padrao_ng-deep();

    color: #7c8d93;
}

.texto-titulo-info {
    color: #3b4244;
}

/* CONTROLE INFORMAÇÕES */

.flex-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 3px;
}

/* CONFIGS NG-DEEP */

::ng-deep .mat-typography h2 {
    @include padrao_ng-deep();
}

::ng-deep .mat-typography p {
    @include padrao_ng-deep();
}

/* CLASSE CARD QUANDO CLICADO */

.card-selecionado {
    border: 1px solid #83c5be;
    border-radius: 4px;
    -webkit-box-shadow: 16px 0px 0px -1px #83c5be;
    box-shadow: 16px 0px 0px 0px #83c5be, 0px 4px 24px rgba(131, 197, 190, 0.3);
}
