<div class="container-principal">
    <div class="titulo">
        <h3>RIOTT</h3>
    </div>
    <div class="nav-menu">
        <ul class="nav-itens">
            
            <li><a [routerLink]="['/pages/listas']" href="/listas" [routerLinkActive]="['is-active']">Listas</a></li>
            <li><a [routerLink]="['/pages/historico']" [routerLinkActive]="['is-active']">Histórico</a></li>
            <li><a [routerLink]="['/pages/atividades']" [routerLinkActive]="['is-active']">Atividades</a></li>
            <li><a [routerLink]="['/pages/membros']" [routerLinkActive]="['is-active']">Membros</a></li>
            <li><a [routerLink]="['/pages/login']">Sair</a></li>
        </ul>
    </div>
</div>
