<mat-card class="mat-card-principal">
    <div class="div-container">
        <div class="div-informacoes">
            <div>
                <h4>Descrição da atividade:</h4>
                <p>{{atividade.description}}</p>
            </div>
            <div class="buttons">
                <div class="controle-botoes">
                    <app-secondary-dark-button texto="Excluir" (click)="excluirAtividadeClick(atividade.id)"></app-secondary-dark-button>
                </div>
                <div class="controle-botoes">
                    <app-primary-button color="primary" texto="Editar" (click)="editarAtividadeClick(atividade)"></app-primary-button>
                </div>
            </div>
        </div>
    </div>
</mat-card>
