<mat-card class="mat-card-principal">
    <div class="div-container">
        <div class="div-informacoes">
            <div>
                <p>Descrição da atividade:</p>
                <h4>{{_atividade.descricao}}</h4>
            </div>
            <div>
                <app-primary-button texto="Excluir" (click)="excluirAtividadeClick(_atividade.id_atividade)"></app-primary-button>
                <app-primary-button texto="Editar" (click)="editarAtividadeClick(_atividade.id_atividade)"></app-primary-button>
            </div>
        </div>
    </div>
</mat-card>
