<div class="container-principal">
    <div class="div-imagem-capa">
        <h1>Imagem da Tela de Login</h1>
    </div>
    <div class="div-form-login">
        <h4>Form de Login</h4>
        <form #loginForm="ngForm">
            <app-input-email ngDefaultControl ngModel name="email"></app-input-email>
            <app-input-senha ngDefaultControl ngModel name="senha"></app-input-senha>
            <app-primary-button texto="Entrar" (click)="login(loginForm)"></app-primary-button>
        </form>
        <br/>
        <div *ngIf="mensagemErro">
            {{mensagemErro}}
        </div>

    </div>
</div>

