@import "../pages.component.scss";

* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMAGE SECTION */

.container-principal {
    display: flex;
    height: 100%;
}

.picture-section {
    margin: 0;
    width: 80%;
    height: 100vh;

    picture {
        img {
            height: 100vh;
            width: fit-content;
        }
    }
}

.span {
    position: absolute;
    bottom: 56px;
    left: 56px;

    font-size: 86px;
    font-weight: 700;
    line-height: 100px;

    color: $white;
    width: 67%;
}

/* LOGIN */

.div-form-login {
    margin: auto;
    text-align: center;
    width: 40%;

    form {
        width: 300px;
        margin: auto;
    }
}

.title {
    color: $primary-dark;

    font-weight: 700;
    font-size: 56px;

    padding: 16px;
    margin: 0;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;

    color: $gray-04;
    padding-top: 16px;

    width: 290px;
    line-height: 19px;
    margin: auto;
    text-align: center;
}

::ng-deep mat-form-field .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.error {
    text-align: left;
    padding-left: 0.5rem;
    margin-bottom: 16px;
}
