.container-principal {
    display: flex;
    flex-direction: row;
}

.div-imagem-capa {
    width: 60%;
    min-height: 500px;
    padding: 0px 10px;
}
.div-form-login {
    width: 40%;
    min-height: 500px;
    padding: 0px 10px;
}
