<main class="container-principal">
    <section class="superior">
        <h3>Membros:</h3>
        <app-primary-button color="accent" texto="Cadastrar novo membro" (click)="cadastrarNovoMembro()"></app-primary-button>
    </section>
    <section class="listagem-membros">
        <p *ngFor="let membro of listaMembros">
            <app-card-membro-infos [_membro]="membro"
                [editarMembroClick]="editarMembro"
                [excluirMembroClick]="excluirMembro">
            </app-card-membro-infos>
        </p>

    </section>
</main>
