@mixin message {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: calc(100vh / 2 + 3rem);

    img {
        width: 130px;
        margin: auto;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 22px;
        text-align: center;
        color: #3b4244;
    }
}
