<div class="container-principal">
    <div class="div-superior">
        <h3>{{!edicaoSucesso && !edicaoErro ? 'Editar atividade': ' '}}</h3>
        <span><i class="material-icons" (click)="fecharModal()">close</i></span>
    </div>
    <div class="div-form" *ngIf="!edicaoSucesso && !edicaoErro">
        <p>Altere os dados abaixo para editar uma atividade no RIOTT.</p>
        <div>
            <app-form-atividade [cancelarFormClick]="fecharModal"
                [salvarAtividadeClick]="salvarAtividade"
                [dadosAtividade]="dadosAtividade"></app-form-atividade>
        </div>
    </div>
    <div class="div-mensagem-sucesso" *ngIf="edicaoSucesso">
        <img src="../../../../assets/sucesso.png" alt="">
        <h3>Atividade editada com sucesso!</h3>
        <app-primary-button texto="Finalizar" (click)="fecharModal()"></app-primary-button>
    </div>
    <div class="div-mensagem-sucesso" *ngIf="edicaoErro">
        <img src="../../../../assets/erro.png" alt="">
        <h3>Algo deu errado</h3>
        <h5>{{ mensagemErro }}</h5>
        <app-primary-button texto="Tentar novamente" (click)="tentarNovamente()"></app-primary-button>
        <app-primary-button texto="Voltar ao início" (click)="fecharModal()"></app-primary-button>
    </div>
</div>
