.estilo-status-falta {
    background: #E29578;
    color: #FFFFFF;
    border-radius: 4px;
}

.estilo-status-marcar {
    background: #FFFFFF;
    color: #E29578;
    border-radius: 4px;
    border: 2px solid #E29578;
}
