<mat-card class="mat-card-principal">
    <section class="container">
        <div class="avatar">
            <img mat-card-avatar [src]="_membro.imagem_avatar.arquivo === null ? '../../../../assets/' + _membro.imagem_avatar.url : _membro.imagem_avatar.url">
        </div>

        <div class="nome-membro">
            <p>Membro:</p>
            <span>{{_membro.nome}}</span>
        </div>

        <div class="info-membro">
            <div>
                <p>Data de nascimento:</p>
                <span>{{_membro.data_nascimento | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div>
                <p>Valor mesada:</p>
                <span>R$ {{_membro.valor_mesada}}</span>
            </div>
        </div>

        <div class="botoes">
            <div class="control-button">
                <app-secondary-dark-button texto="Excluir" (click)="excluirMembroClick(_membro.id_membro)"></app-secondary-dark-button>
            </div>
            <div class="control-button">
                <app-primary-button color="primary" texto="Editar" (click)="editarMembroClick(_membro.id_membro)"></app-primary-button>
            </div>
            <div class="control-button">
                <app-primary-button color="accent" texto="Ver lista"></app-primary-button>
            </div>
        </div>
       
    </section>
</mat-card>
