<mat-card class="mat-card-principal">
    <section class="container">
        <div class="avatar">
            <img mat-card-avatar [src]="arquivoImagem.url === null ? '../../../../assets/arquivo.png'  : arquivoImagem.url">
        </div>

        <div class="nome-membro">
            <p>Membro:</p>
            <span>{{membro.name}}</span>
        </div>

        <div class="info-membro">
            <div>
                <p>Data de nascimento:</p>
                <span>{{membro.birthdate}}</span>

            </div>
            <div>
                <p>Valor mesada:</p>
                <span>R$ {{membro.allowance}}</span>
            </div>
        </div>

        <div class="botoes">
            <div class="control-button">
                <app-secondary-dark-button texto="Excluir" (click)="excluirMembroClick(membro.id)"></app-secondary-dark-button>
            </div>
            <div class="control-button">
                <app-primary-button color="primary" texto="Editar" (click)="editarMembroClick(membro, arquivoImagem)"></app-primary-button>
            </div>
            <div class="control-button">
                <app-primary-button texto="Ver lista" (click)="verListaMembro(membro.id)"></app-primary-button>
            </div>
        </div>
       
    </section>
</mat-card>
