<div class="container-principal" *ngIf="!mostrarMensagemInformativa && !mostrarMensagemConfirmacao">
    <div class="div-superior">
        <h3>{{ !modoReadOnly ? (modoEditarLista ? 'Editar lista' : 'Criar nova lista') : 'Gerenciar listas' }}</h3>

        <mat-icon (click)="fecharModal()">{{'close'}}</mat-icon>
    </div>
    <div class="div-inferior">
        <div class="div-nome-lista" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && !modoReadOnly">
            <mat-form-field appearance="outline">
                <mat-label>Nome da lista</mat-label>
                <input matInput
                    placeholder="Nome da lista"
                    name="inputNomeLista"
                    [(ngModel)]="listaAtivaMembroSelecionado.nome_lista">
            </mat-form-field>
        </div>
        <div class="listagem-membros-ativos">
            <div class="membros-titulo">
                <h3>Membros ativos</h3>
            </div>
            <div class="div-card-membros-ativos">
                <app-card-membro-ativo *ngFor="let membro of listaMembros"
                    [_membro]="membro"
                    [_id_membro_selecionado]="idMembroSelecionado"
                    (click)="atualizarMembroSelecionado(membro.id_membro)">

                </app-card-membro-ativo>
            </div>
            <div class="div-barra-menu" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && modoReadOnly">
                <div class="div-status-lista-info">
                    <p>Status da lista</p>
                    <p>{{ listaAtivaMembroSelecionado.status_lista }}</p>
                </div>
                <div class="botoes-crud-lista">
                    <app-primary-button texto="Excluir lista" (click)="confirmarExclusaoLista()">
                    </app-primary-button>
                    <app-primary-button texto="Editar lista" (click)="editarLista()">
                    </app-primary-button>
                    <app-primary-button texto="Iniciar lista" (click)="confirmarInicioLista()"
                        *ngIf="listaAtivaMembroSelecionado.status_lista === 'Em espera'">
                    </app-primary-button>
                </div>
            </div>
        </div>
        <div class="div-listagem-atividades">
            <div class="atividades-titulo">
                <h3>{{modoReadOnly ? 'Atividades:' : 'Selecione as atividade e defina seus valores:'}}</h3>
            </div>
            <div class="div-card-atividades" *ngIf="!idMembroSelecionado">
                <mat-card class="mat-card-principal" *ngFor="let atividade of listaAtividades">
                    <p>Descrição da atividade:</p>
                    <p>{{ atividade.descricao }}</p>
                </mat-card>
            </div>
            <div class="div-listagem-atividades-membro-selecionado" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado">
                <p *ngFor="let item of itensLista">
                    <app-card-item-lista
                        [modoReadOnly]="modoReadOnly"
                        [botaoMarcarFaltaVisivel]="false"
                        [itemLista]="item"
                        [atualizarCheckBox]="atualizarCheckBox">
                    </app-card-item-lista>
                </p>
            </div>
            <div class="div-mensagem-criar-lista" *ngIf="idMembroSelecionado && !listaAtivaMembroSelecionado">
                <img src="../../../../assets/atencao.png" alt="" width="80px" height="80px">
                <h3>Este membro não possui lista configurada</h3>
                <app-primary-button texto="Criar lista" (click)="criarLista()">
                </app-primary-button>
            </div>
        </div>
    </div>
    <app-card-lista-total-atividades *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && !modoReadOnly"
        [membroSelecionado]="membroSelecionado"
        [modoEdicao]="modoEditarLista"
        [total_atividades_lista]="totalAtividadesLista" [acaoBotaoClick]="salvarLista">

    </app-card-lista-total-atividades>
</div>
<div class="div-mensagem-sucesso" *ngIf="mostrarMensagemInformativa">
    <img src="../../../../assets/sucesso.png" alt="">
    <h3>{{ textoMensagemInformativa }}</h3>
    <app-primary-button texto="Finalizar" (click)="finalizarMensagemInformativa()">

    </app-primary-button>
</div>

<div class="div-mensagem-confirmacao" *ngIf="mostrarMensagemConfirmacao">
    <img src="../../../../assets/atencao.png" alt="">
    <h3>Deseja realmente {{textoMensagemConfirmacao}} essa lista?</h3>
    <app-primary-button texto="Confirmar e {{ textoMensagemConfirmacao }} a lista" (click)="acaoConfirmacaoAceita()">

    </app-primary-button>
    <app-primary-button texto="Cancelar" (click)="finalizarMensagemConfirmacao()">

    </app-primary-button>
</div>
