<div class="container-principal" *ngIf="!mostrarMensagemInformativa && !mostrarMensagemConfirmacao">
    <div class="div-superior">
        <h3>{{ !modoReadOnly ? (modoEditarLista ? 'Editar lista' : 'Criar nova lista') : 'Gerenciar listas' }}</h3>

        <span><i class="material-icons" (click)="fecharModal()">close</i></span>
    </div>
    <div class="div-inferior">
        <div class="div-nome-lista" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && !modoReadOnly">
            <mat-form-field appearance="outline">
                <mat-label>Nome da lista</mat-label>
                <input matInput
                    placeholder="Nome da lista"
                    name="inputNomeLista"
                    [(ngModel)]="listaAtivaMembroSelecionado.nome_lista">
            </mat-form-field>
        </div>
        <div class="listagem-membros-ativos">
            <div class="membros-titulo">
                <h3>Membros ativos</h3>
            </div>
            <div class="div-card-membros-ativos">
                <app-card-membro-ativo *ngFor="let membro of listaMembros"
                    [_membro]="membro"
                    [_id_membro_selecionado]="idMembroSelecionado"
                    (click)="atualizarMembroSelecionado(membro.id_membro)">

                </app-card-membro-ativo>
            </div>
            <div class="div-barra-menu" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && modoReadOnly">
                <div class="div-status-lista-info">
                    <h3>Status da lista</h3>
                    <p [ngClass]="{'espera': listaAtivaMembroSelecionado.status_lista === 'Em espera', 'andamento': listaAtivaMembroSelecionado.status_lista === 'Em andamento'}">{{ listaAtivaMembroSelecionado.status_lista }}</p>
                </div>
                <div [ngClass]="{'botoes-crud-lista': listaAtivaMembroSelecionado.status_lista === 'Em espera', 'non-flex': listaAtivaMembroSelecionado.status_lista === 'Em andamento'}">
                    <div class="controle-botao">
                        <app-secondary-dark-button texto="Excluir lista" (click)="confirmarExclusaoLista()">
                        </app-secondary-dark-button>
                    </div>
                    <div class="controle-botao">
                        <app-primary-button color="primary" texto="Editar lista" (click)="editarLista()" *ngIf="listaAtivaMembroSelecionado.status_lista === 'Em espera'">
                        </app-primary-button>
                    </div>
                    <div class="controle-botao">
                        <app-primary-button texto="Iniciar lista" (click)="confirmarInicioLista()"
                            *ngIf="listaAtivaMembroSelecionado.status_lista === 'Em espera'">
                        </app-primary-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-listagem-atividades">
            <div class="atividades-titulo">
                <h3>{{modoReadOnly ? 'Atividades:' : 'Selecione as atividade e defina seus valores:'}}</h3>
            </div>
            <div class="div-card-atividades" *ngIf="!idMembroSelecionado">
                <mat-card class="mat-card-principal" *ngFor="let atividade of listaAtividades">
                    <h3 class="h3">Descrição da atividade:</h3>
                    <p>{{ atividade.descricao }}</p>
                </mat-card>
            </div>
            <div class="div-listagem-atividades-membro-selecionado" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado">
                <p *ngFor="let item of itensLista">
                    <app-card-item-lista
                        [modoReadOnly]="modoReadOnly"
                        [botaoMarcarFaltaVisivel]="false"
                        [itemLista]="item"
                        [atualizarCheckBox]="atualizarCheckBox">
                    </app-card-item-lista>
                </p>
            </div>
            <div class="div-mensagem-criar-lista" *ngIf="idMembroSelecionado && !listaAtivaMembroSelecionado">
                <div class="controle-confirmacao">
                    <img src="../../../../assets/atencao.png" alt="" width="80px" height="80px">
                    <h3>Este membro não <br> possui lista configurada</h3>
                </div>
                <app-primary-button texto="Criar lista" (click)="criarLista()">
                </app-primary-button>
            </div>
        </div>
    </div>
    <app-card-lista-total-atividades [ngClass]="{'criar-lista': criarNovaLista === 'true'}" *ngIf="idMembroSelecionado && listaAtivaMembroSelecionado && !modoReadOnly"
        [membroSelecionado]="membroSelecionado"
        [modoEdicao]="modoEditarLista"
        [total_atividades_lista]="totalAtividadesLista" [acaoBotaoClick]="salvarLista">

    </app-card-lista-total-atividades>
</div>
<div class="div-mensagem-sucesso" *ngIf="mostrarMensagemInformativa">
    <img src="../../../../assets/sucesso.png" alt="">
    <h3>{{ textoMensagemInformativa }}</h3>
    <app-primary-button texto="Finalizar" (click)="finalizarMensagemInformativa()">

    </app-primary-button>
</div>

<div class="div-mensagem-confirmacao" *ngIf="mostrarMensagemConfirmacao">
        <img src="../../../../assets/atencao.png" alt="">
        <h3>Deseja realmente {{textoMensagemConfirmacao}} essa lista?</h3>

    <div class="controle-botao-confirmacao">
        <app-primary-button texto="Confirmar e {{ textoMensagemConfirmacao }} a lista" (click)="acaoConfirmacaoAceita()"></app-primary-button>
    </div>

    <div class="controle-botao-confirmacao">
        <app-secondary-dark-button texto="Cancelar" (click)="finalizarMensagemConfirmacao()"></app-secondary-dark-button>
    </div>
</div>
