@import "src/app/@theme/styles/modal-mensagem.scss";
@import "src/app/@theme/styles/topo-modal.scss";
@import "src/app/@theme/styles/modal-container.scss";

* {
    scrollbar-width: thin;
    scrollbar-color: #b5c5ca #dee8eb;
    scrollbar-gutter: 20px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #dee8eb;
}

::-webkit-scrollbar-thumb {
    background-color: #b5c5ca;
    border-radius: 20px;
    border: 2px solid #b5c5ca;
}

.container-principal {
    @include container();
    padding: 0px 15px 10px 15px;

    height: 98vh;
}

.div-superior {
    @include topo-modal();
    padding: 5px 0px;
}

.membros-titulo {
    h3 {
        color: #3b4244;
        font-size: 16px;
        font-weight: 700;
    }
}

.div-inferior {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.div-card-membros-ativos {
    width: 100%;
    display: flex;
}

.div-mensagem-sucesso {
    max-width: 300px;
    margin: auto;
    @include message();

    img {
        margin-bottom: 10px;
    }
}

.div-mensagem-confirmacao {
    max-width: 300px;
    margin: auto;
    @include message();

    img {
        margin-bottom: 10px;
    }
}

.div-mensagem-criar-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;

    width: 300px;
}

.controle-confirmacao {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        color: #3b4244;
    }
}

.div-listagem-atividades {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.atividades-titulo {
    h3 {
        color: #3b4244;
        font-size: 16px;
        padding-top: 16px;
        font-weight: 700;
    }
}

.div-status-lista-info {
    h3 {
        color: #7c8d93;
        font-size: 16px;
        padding-top: 16px;
        margin-bottom: 5px;
    }

    p {
        font-size: 16px;
        padding-bottom: 16px;
        font-weight: 600;
    }
}

.espera {
    color: #e29578;
}

.andamento {
    color: #006d77;
}

.div-listagem-atividades-membro-selecionado {
    padding-right: 5px;
}

.div-card-atividades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.criar-lista {
    color: red;
}

.div-card-atividades .mat-card-principal {
    flex-basis: 49%;
    flex-shrink: 1;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #dee8eb;
    box-sizing: border-box;
    border-radius: 4px;

    padding: 23px;

    h3 {
        color: #7c8d93;
        font-size: 14px;
        margin: 0;
    }

    p {
        color: #3b4244;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
}

.div-barra-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee8eb;
}

.div-nome-lista mat-form-field {
    width: 40%;
}

.botoes-crud-lista {
    display: flex;
}

.non-flex {
    display: block;
}

.controle-botao {
    margin-right: 10px;
}

.controle-botao-confirmacao {
    margin-bottom: 10px;
}

::ng-deep .mat-bottom-sheet-container-large {
    position: absolute;
    top: 0;
    left: 0;
}

::ng-deep .mat-bottom-sheet-container {
    min-height: 100vh;
}
