<form [formGroup]="senhaForm">
    <mat-form-field appearance="outline" class="input">
        <mat-label>Senha</mat-label>
        <input 
          matInput 
          [type]="hide ? 'password' : 'text'" 
          formControlName="senha" 
          name="inputSenha" 
          [errorStateMatcher]="matcher"
          />
        <button 
          mat-icon-button 
          matSuffix 
          (click)="hide = !hide" 
          [attr.aria-label]="'Hide password'" 
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</form>

