/* CONTEUDO PÁGINA */
.container-principal {
    width: 100%;

    margin: auto;
    display: flex;
    height: 90vh;

    overflow-y: hidden;
}

/* CONTROLE SEÇÕES */

.section-esquerda {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: center;

    width: 23%;
    min-width: 270px;
    height: 90vh;

    padding-left: 40px;

    h3 {
        font-size: 24px;
        font-weight: 500;

        padding-bottom: 20px;
    }
}

.section-direita {
    width: 70%;
    height: 80vh;

    padding: 0px 25px 0px 15px;

    border-left: 1px solid #dee8eb;
}

/* CONTROLE SEÇÃO DE MEMBROS */

.listas-todos-membros {
    max-width: 270px;
}

/* CONTROLE SEÇÃO DE ATIVIDADES */

.controle-listas-descricao-atividade {
    width: auto;
    padding: 0 20px;
    height: 60vh;
    overflow-y: scroll;
}

.lista-atividade {
    margin-bottom: 10px;
}

.botao-gerenciar {
    max-width: 300px;
}

/* CONTROLE SEÇÃO DE ATIVIDADES */

.div-total-faltas {
    padding: 0 40px;
}

/* CONFIGURAÇÕES NG-DEEP */

::ng-deep .mat-raised-button.mat-primary {
    background-color: #83c5be;
    color: #fff;
    height: 44px;
}
