* {
    scrollbar-width: thin;
    scrollbar-color: #b5c5ca #dee8eb;
    scrollbar-gutter: 20px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #dee8eb;
}

::-webkit-scrollbar-thumb {
    background-color: #b5c5ca;
    border-radius: 20px;
    border: 2px solid #b5c5ca;
}
/* CONTEUDO PÁGINA */
.container-principal {
    width: 100%;

    margin: auto;
    display: flex;
    height: 86vh;

    overflow-y: hidden;
}

/* CONTROLE SEÇÕES */

.section-esquerda {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: center;

    width: 23%;
    min-width: 270px;
    height: 82vh;

    padding-left: 40px;
    margin-top: 15px;

    h3 {
        font-size: 24px;
        font-weight: 500;

        padding-bottom: 10px;
    }
}

.section-direita {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 0px 5px 0px 35px;
    margin-top: 15px;

    width: 68%;
    height: 82vh;

    border-left: 1px solid #dee8eb;
}

/* CONTROLE SEÇÃO DE MEMBROS */

.listas-todos-membros {
    max-width: 270px;
}

.botao-gerenciar {
    max-width: 280px;
}

/* CONTROLE SEÇÃO DE ATIVIDADES */

.controle-listas-descricao-atividade {
    width: auto;
    height: 60vh;
    overflow-y: scroll;
}

.lista-atividade {
    margin-bottom: 10px;
}

.total-faltas {
    width: 96%;
}

/* CONFIGURAÇÕES NG-DEEP */

::ng-deep .mat-raised-button.mat-primary {
    background-color: #83c5be;
    color: #fff;
    height: 44px;
}
