<main class="container-principal">
    <section class="section-esquerda">
        <div class="controle">
            <h3>Listas:</h3>
            <div *ngFor="let membro of listaMembros" class="listas-todos-membros">
                <app-card-membro-resumo-descontos
                    [_membro]="membro"
                    (click)="atualizarDadosMembroSelecionado(membro.id_membro)"
                    [_id_membro_selecionado]="id_membro_selecionado"
                    [valorDescontosAtualizado]="descontos">
                </app-card-membro-resumo-descontos>
            </div>
        </div>
        <div class="botao-gerenciar">
            <app-primary-button color="primary" icone="tune" texto="Gerenciar listas" class="button"></app-primary-button>
        </div>
    </section>

    <section class="section-direita">
        <div class="controle-secao-direita">
            <h5>Lista:</h5>
            <div class="controle-listas-descricao-atividade">
                <div *ngFor="let item of itensLista" class="lista-atividade">
                    <app-card-item-lista
                        [modoReadOnly]="true"
                        [botaoMarcarFaltaVisivel]="true"
                        [itemLista]="item"
                        (botaoStatusClicado)="atualizarValoresDescontoETotal($event)">
                    </app-card-item-lista>
                </div>
            </div>
        </div>
        <section class="total-faltas">
            <app-card-lista-total-faltas
                [acaoFinalizarLista]="finalizarLista"
                [_total_faltas]="totalFaltas"
                [_valor_mesada]="mesada_membro_selecionado"
                [_valor_descontos]="descontos"
                [_valor_total]="total"
                [hidden]="listaMembros.length === 0">
            </app-card-lista-total-faltas>
        </section>
    </section>


</main>
