<main class="container-principal">
    <section class="section-esquerda">
        <h3>Listas:</h3>
            <div *ngFor="let membro of _listaMembros" class="div-listas-todos-membros">
                <app-card-membro-resumo-descontos
                    [_membro]="membro"
                    (click)="atualizarDadosMembroSelecionado(membro.id_membro)"
                    [_id_membro_selecionado]="_id_membro_selecionado"
                    [valorDescontosAtualizado]="_descontos">
                </app-card-membro-resumo-descontos>
            </div>
        <div class="div-botao-gerenciar">
            <span class="material-icons-outlined">
                <i>tune</i>
            </span>
            <app-primary-button texto="Gerenciar listas" class="button"></app-primary-button>
        </div>
    </section>

    <hr>
    <section class="section-direita">
        <h5>Lista:</h5>
        <div class="div-listas-descricao-atividade">
            <div *ngFor="let item of _itensLista" class="scrollbar scrollbar-primary">
                <app-card-item-lista
                    [_modoReadOnly]="true"
                    [_botaoMarcarFaltaVisivel]="true"
                    [_itemLista]="item"
                    (botaoStatusClicado)="atualizarValoresDescontoETotal($event)">
                </app-card-item-lista>
            </div>
        </div>
        <div class="div-total-faltas">
            <app-card-lista-total-faltas
                [acaoFinalizarLista]="finalizarLista"
                [_total_faltas]="_totalFaltas"
                [_valor_mesada]="_mesada_membro_selecionado"
                [_valor_descontos]="_descontos"
                [_valor_total]="_total"
                [hidden]="_listaMembros.length === 0">
            </app-card-lista-total-faltas>
        </div>
    </section>


</main>
