/* CONTEUDO PÁGINA */
.container-principal {
    width: 95%;

    margin: auto;
    display: flex;
    height: 80vh;
}

hr {
    color: #dee8eb;
}

/* CONTTROLE SEÇÕES */

.section-esquerda {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: 25%;
    min-width: 300px;

    height: 100vh;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }
}

.section-direita {
    width: 70%;
    height: 80vh;
}

/* CONTROLE SEÇÃO DE MEMBROS */

.div-listas-todos-membros {
    width: auto;
    padding: 0 20px;
    // overflow-y: scroll;
}

.div-botao-gerenciar {
    width: 300px;
    margin: auto;
}

/* CONTROLE SEÇÃO DE MEMBROS */

.div-listas-descricao-atividade {
    width: auto;
    padding: 0 20px;
    height: 60vh;
    overflow-y: scroll;
}

.div-total-faltas {
    width: 100%;
    padding: 0 10px;
    height: 20vh;
}

/* CONFIGURAÇÕES NG-DEEP */

::ng-deep .mat-raised-button.mat-primary {
    background-color: #83c5be;
    color: #fff;
    height: 44px;
}
