<mat-card class="mat-card-principal mat-elevation-z3">
    <section class="secao-info">

        <div class="total-faltas">
            <p>Total de faltas:</p>
            <span class="span-total-faltas">{{_total_faltas}}</span>
        </div>

        <div class="title-content">
            <p>Mesada:</p>
            <span>R$ {{_valor_mesada}}</span>
        </div>

        <div class="menos">
            <span>
            -
            </span>
        </div>

        <div class="valor">
            <p>Descontos:</p>
            <span [ngClass]="_valor_descontos > 0 ? 'estilo-valor-negativo' : ''">R$ {{_valor_descontos}}</span>
        </div>

        <div>
            <span class="icone-igual">=</span>
        </div>

        <div class="title-content">
            <p>Total:</p>
            <span>R$ {{_valor_total}}</span>
        </div>

    </section>

    <app-primary-button color="accent" texto="Finalizar lista" (click)="acaoFinalizarLista()"></app-primary-button>
    
</mat-card>
